<aside class="w-64 bg-white border-r border-gray-200 hidden lg:flex flex-col h-screen sticky top-0">
    <div class="p-6 border-b border-gray-100 flex justify-center">
        <img src="../assets//images/logo.svg" alt="Logo" class="h-12">
    </div>

    <nav class="flex-1 p-4 space-y-1 overflow-y-auto custom-scrollbar">
        <a href="javascript:void(0)" onclick="loadPage('../pages/home/index.html')"
            class="flex items-center gap-3 p-3 text-gray-600 hover:bg-gray-50 rounded-lg transition">
            <img src="../assets/images/trang-chu-icon.svg" alt="Home Icon" class="w-6 h-6">
            <span>Trang chủ</span>
        </a>

        <!-- @if (User.IsInRole("Clerk")) { -->
        <div class="space-y-1" id="group-clerk">
            <button onclick="toggleSidebarMenu('menu-clerk')"
                class="w-full flex items-center justify-between p-3 text-gray-600 hover:bg-gray-50 rounded-lg transition">
                <div class="flex gap-3 items-center">
                    <div class="w-6 h-6"></div>
                    <span>Văn thư</span>
                </div>
                <i class="fas fa-chevron-right text-[10px] transition-transform duration-300" id="arrow-menu-clerk"></i>
            </button>
            <div id="menu-clerk" class="pl-10 space-y-1 text-sm overflow-hidden max-h-0 transition-all duration-300">
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/so-van-ban.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Sổ văn bản</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/chua-tiep-nhan.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Chưa tiếp nhận</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/vao-so-van-ban-den.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Vào sổ văn bản đến</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/cho-but-phe.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Chờ bút phê</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/chuyen-thuc-hien.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Chuyển thực hiện</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/danh-sach-vb-den.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Danh sach VB đến</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/ban-hanh-van-ban.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Ban hành văn bản</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/cap-so.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Cấp số</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/dong-dau-van-ban.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Đóng dấu văn bản</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/clerk/danh-sach-vb-di.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Danh sách VB đi</a>
            </div>
        </div>
        <!-- } -->

        <!-- @if (User.IsInRole("Director") || User.IsInRole("Principal") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
        <div class="space-y-1" id="group-news">
            <button onclick="toggleSidebarMenu('menu-news')"
                class="w-full flex items-center justify-between p-3 text-gray-600 hover:bg-gray-50 rounded-lg transition">
                <div class="flex gap-3 items-center">
                    <img src="../assets/images/tin-noi-bo-icon.svg" class="w-6 h-6" alt="Tin noi bo Icon">
                    <span>Tin nội bộ</span>
                </div>
                <i class="fas fa-chevron-right text-[10px] transition-transform duration-300" id="arrow-menu-news"></i>
            </button>
            <div id="menu-news" class="pl-10 space-y-1 text-sm overflow-hidden max-h-0 transition-all duration-300">
                <a href="javascript:void(0)" onclick="loadPage('../pages/internal-news/index.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Tin công khai</a>
                <a href="javascript:void(0)" onclick="loadPage('../pages/private-messages/index.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Tin nhắn riêng</a>
            </div>
        </div>
        <!-- } -->

        <!-- @if (User.IsInRole("Director") || User.IsInRole("Principal") || User.IsInRole("Clerk") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
        <div class="space-y-1" id="group-docs">
            <button onclick="toggleSidebarMenu('menu-docs')"
                class="w-full flex items-center justify-between p-3 text-gray-600 hover:bg-gray-50 rounded-lg transition">
                <div class="flex gap-3 items-center">
                    <img src="../assets/images/van-ban-den-icon.svg" class="w-6 h-6" alt="Van ban den Icon"></i>
                    <span>Văn bản đến</span>
                </div>
                <i class="fas fa-chevron-right text-[10px] transition-transform duration-300" id="arrow-menu-docs"></i>
            </button>
            <div id="menu-docs" class="pl-10 space-y-1 text-sm overflow-hidden max-h-0 transition-all duration-300">
                <!-- @if (User.IsInRole("Director") || User.IsInRole("Principal")) { -->
                <a href="javascript:void(0)" onclick="loadPage('../pages/incoming-documents/van-ban-but-phe.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Văn bản bút phê</a>
                <!-- } -->

                <!-- @if (User.IsInRole("Principal")) { -->
                <a href="javascript:void(0)" onclick="loadPage('../pages/incoming-documents/van-ban-chi-dao.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Văn bản chỉ đạo</a>
                <!-- } -->

                <!-- @if (User.IsInRole("AdministrativeHead")) { -->
                <a href="javascript:void(0)" onclick="loadPage('../pages/incoming-documents/van-ban-tham-muu.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Văn bản tham mưu</a>
                <!-- } -->

                <a href="javascript:void(0)"
                    onclick="loadPage('../pages/incoming-documents/danh-sach-van-ban-den.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Danh sách văn bản đến</a>

                <!-- @if (User.IsInRole("Director") || User.IsInRole("Principal") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
                <a href="javascript:void(0)" onclick="loadPage('../pages/incoming-documents/van-ban-noi-bo.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Văn bản nội bộ</a>
                <!-- } -->

                <a href="javascript:void(0)" onclick="loadPage('../pages/incoming-documents/van-ban-cu.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Văn bản cũ</a>
            </div>
        </div>
        <!-- } -->

        <!-- @if (User.IsInRole("Director") || User.IsInRole("Principal") || User.IsInRole("Clerk") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
        <div class="space-y-1" id="group-outgoing">
            <button onclick="toggleSidebarMenu('menu-outgoing')"
                class="w-full flex items-center justify-between p-3 text-gray-600 hover:bg-gray-50 rounded-lg transition">
                <div class="flex gap-3 items-center">
                    <img src="../assets/images/outgoing-documents-icon.svg" class="w-6 h-6" alt="Send Icon"> <span>Văn
                        bản đi</span>
                </div>
                <i class="fas fa-chevron-right text-[10px] transition-transform duration-300"
                    id="arrow-menu-outgoing"></i>
            </button>
            <div id="menu-outgoing" class="pl-10 space-y-1 text-sm overflow-hidden max-h-0 transition-all duration-300">
                <!-- @if (User.IsInRole("Director") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
                <a href="javascript:void(0)" onclick="loadPage('../pages/outgoing-documents/trinh-ky-van-ban.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Trình ký văn bản</a>
                <!-- } -->

                <!-- @if (User.IsInRole("Director") || User.IsInRole("Principal") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
                <a href="javascript:void(0)" onclick="loadPage('../pages/outgoing-documents/index.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">VB phối hợp kiểm tra</a>
                <!-- } -->

                <a href="javascript:void(0)" onclick="loadPage('../pages/outgoing-documents/can-ky.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Văn bản cần ký</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/outgoing-documents/da-ban-hanh.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Văn bản đã ban hành</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/outgoing-documents/van-ban-cu.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Văn bản cũ</a>
            </div>
        </div>
        <!-- } -->

        <!-- @if (User.IsInRole("Director") || User.IsInRole("Principal") || User.IsInRole("Clerk") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
        <div class="space-y-1" id="group-calendar">
            <button onclick="toggleSidebarMenu('menu-calendar')"
                class="w-full flex items-center justify-between p-3 text-gray-600 hover:bg-gray-50 rounded-lg transition">
                <div class="flex gap-3 items-center">
                    <img src="../assets/images/lich-cong-tac-icon.svg" alt="lich-cong-tac-icon"
                        class="w-6 h-6"><span>Lịch công tác</span>
                </div>
                <i class="fas fa-chevron-right text-[10px] transition-transform duration-300"
                    id="arrow-menu-calendar"></i>
            </button>
            <div id="menu-calendar" class="pl-10 space-y-1 text-sm overflow-hidden max-h-0 transition-all duration-300">
                <a href="javascript:void(0)" onclick="loadPage('../pages/calendar/phong-hop.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Phòng họp</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/calendar/tuan-dang-ky.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Tuần đăng ký</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/calendar/dang-ky-lich.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Đăng ký lịch</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/calendar/dang-ky-lich-dhdn.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Đăng Ký lịch ĐHĐN</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/calendar/tong-hop-lich.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Tổng hợp lịch</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/calendar/nhap-lich.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Nhập lịch</a>
            </div>
        </div>
        <!-- } -->

        <!-- @if (User.IsInRole("Director") || User.IsInRole("Principal") || User.IsInRole("Clerk") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
        <div class="space-y-1" id="group-tasks">
            <button onclick="toggleSidebarMenu('menu-tasks'); loadPage('../pages/tasks/cong-viec-giao.html')"
                class="w-full flex items-center justify-between p-3 text-gray-600 hover:bg-gray-50 rounded-lg transition">
                <div class="flex gap-3 items-center">
                    <img src="../assets/images/xu-ly-cong-viec-icon.svg" alt="xu-ly-cong-viec-icon" class="w-6 h-6">
                    <span>Xử lý công
                        việc</span>
                </div>
                <i class="fas fa-chevron-right text-[10px] transition-transform duration-300" id="arrow-menu-tasks"></i>
            </button>
            <div id="menu-tasks" class="pl-10 space-y-1 text-sm overflow-hidden max-h-0 transition-all duration-300">
                <a href="javascript:void(0)" onclick="loadPage('../pages/tasks/cong-viec-giao.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Công việc giao</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/tasks/cong-viec-chi-dao.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Công việc chỉ đạo</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/tasks/cong-viec-nhan.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Công việc nhận</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/tasks/cong-viec-xu-ly.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Công việc xử lý</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/tasks/de-nam-thong-tin.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Để nắm thông tin</a>

                <!-- @if (User.IsInRole("Principal") || User.IsInRole("Clerk") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
                <a href="javascript:void(0)" onclick="loadPage('../pages/tasks/luu-tru-van-ban.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Lưu trữ văn bản</a>
                <!-- } -->
            </div>
        </div>
        <!-- } -->

        <!-- @if (User.IsInRole("Director") || User.IsInRole("Principal") || User.IsInRole("Clerk") || User.IsInRole("AdministrativeHead") || User.IsInRole("DeputyHead")) { -->
        <div class="space-y-1" id="group-utilities">
            <button onclick="toggleSidebarMenu('menu-utilities')"
                class="w-full flex items-center justify-between p-3 text-gray-600 hover:bg-gray-50 rounded-lg transition">
                <div class="flex gap-3 items-center">
                    <img src="../assets/images/tien-ich-icon.svg" alt="tien-ich-icon" class="w-6 h-6"><span>Tiện
                        ích</span>
                </div>
                <i class="fas fa-chevron-right text-[10px] transition-transform duration-300"
                    id="arrow-menu-utilities"></i>
            </button>
            <div id="menu-utilities"
                class="pl-10 space-y-1 text-sm overflow-hidden max-h-0 transition-all duration-300">
                <a href="javascript:void(0)" onclick="loadPage('../pages/tien-ich/phan-mem.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Phần mềm</a>

                <a href="javascript:void(0)" onclick="loadPage('../pages/tien-ich/mau-van-bang.html')"
                    class="block p-2 text-gray-500 hover:text-blue-600">Mẫu văn bằng</a>
            </div>
        </div>
        <!-- } -->
    </nav>

    <div class="p-4 border-t border-gray-100">
        <button
            class="flex items-center p-3 text-gray-600 w-full hover:bg-red-50 hover:text-red-600 rounded-lg transition font-medium">
            <i class="fas fa-sign-out-alt w-6"></i> <span>Đăng xuất</span>
        </button>
    </div>
</aside>